*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
#navigation ul {
    margin-top:0;
    padding-left:20px;
}
#navigation li {
    list-style-type:none;
}
#navigation a {
    text-decoration:none;
    color:#515151;
}
#navigation strong {
    color:#4E9A06;
    font-weight:400;
}
#navigation a:hover {
    text-decoration:underline;
}
#content img {
    max-width:99%; 
}
#content h1:nth-child(1) {
    margin-top:0;
}
h1 {
    color:#3D6E0F;
    font-weight:300;
    }
h2 {
    color:#418006;
    font-weight:300;
    }
h3,h4,h5,h6 {
    color:#4E9A06;
    font-weight:300;
}
#content {
    color:#515151;
}
#content a {
    color:#CE5C00;
}
#content a {
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}
#content a:active {
    text-decoration: underline;
}
#content strike {
    color: grey;
}
#content u {
    text-decoration: underline;
}
#content tt {
    color: #2e3436;
}
#content pre {
    color: #2e3436;
    margin-left: 20px;
}
.backlinks {
    color:gray;
}
hr.footnotes {
    width: 20%;
    margin-left: 0;
}
#footer{ 
    padding-top:36px;  
    text-align: right;
    clear:both; 
    padding-bottom:0px; 
    color:#999; 
    font-size:0.8em; 
}
#footer a {
    color:#DF9F6A;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

@media print{
    #navigation{
        background-color:#FFF;
    }
}
