*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
body, html {
    height:100%;
    font-family:'Open Sans', sans-serif;
    line-height:1.5em;
    font-weight:300;
    background-color:#FFFFFF;
    text-rendering:geometricPrecision;
    margin:0;
    padding:0;
}
.wrapper {
    height:100%;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: .25em;
}
#taskbar {
    background-color: #EAEAEA;
    padding: 1em;
}
#navigation {
    background-color: #F3F3F3;
    border-right:1px solid #EAEAEA;
    padding: 0.8em;
    font-weight:500;
    font-size:1em;
}
#bgcontent{
}
#content {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-bottom: .5em;
}
#navigation ul {
    margin-top:0;
    margin-bottom:0;
    padding-left:20px;
}
#navigation li {
    list-style-type:none;
}
#navigation a {
    text-decoration:none;
    color:gray;
}
#navigation strong {
    color:#4E9A06;
    font-weight:400;
}
#navigation a:hover {
    text-decoration:underline;
}
#content img {
max-width:100%; 
}
#content h1:nth-child(1) {
    margin-top:0;
}
h1 {
    color:#3D6E0F;
    font-weight:300;
    }
h2 {
    color:#418006;
    font-weight:300;
    }
h3,h4,h5,h6 {
    color:#4E9A06;
    font-weight:300;
}
#content a {
    color:#CE5C00;
}
#content a {
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}
#content a:active {
    text-decoration: underline;
}
#content strike {
    color: grey;
}
#content u {
    text-decoration: underline;
}
#content tt {
    color: #2e3436;
}
#content pre {
    color: #2e3436;
    margin-left: 20px;
}
.backlinks {
    color:gray;
}
hr.footnotes {
    width: 20%;
    margin-left: 0;
}
#footer{ 
    padding-top:24px; 
    text-align: right;
    clear:both; 
    padding-bottom:0px; 
    color:#999; 
    font-size:0.8em; 
}
#footer a {
    color:#988;
}

@media print{
    #navigation{
        background-color:#FFF;
    }
}

@media (min-width: 960px) and (orientation: landscape) {
    body, html {
        height:100%;
        font-family:'Open Sans', sans-serif;
        line-height:1.5em;
        font-weight:300;
        text-rendering:geometricPrecision;
        margin:0;
        padding:0;
        background-color:#FFFFFF;
    }
    .wrapper {
        height:100%;
        position:relative;
        padding: 0em;
        margin: 0em;
    }    
    #taskbar {
        background-color: #EAEAEA;
        padding: 0em;
    }
    #sticky_taskbar{
        background-color: #EAEAEA;
        padding: 0em;
        width:100%;
    } 
    #navigation {
        background-color:#F3F3F3;
        display:inline-block;
        border-right:2px solid #EAEAEA;
        border-bottom:2px solid #EAEAEA;
        padding-right:65px;
        padding-top:15px;
        padding-left:5px;
        position:relative;
        float:left;
        min-height:100%;
        max-width:30%;
    }
    #block {
        margin: auto;
        max-width: 960px;
        padding: 2em;
    }
    #content {
        display:inline-block;
        position:absolute;
        max-width: 960px; 
        border-width: 0px;
        padding-left: 2em;
        padding-top: 1em;
        padding-right: 2em;
        padding-bottom: 2em;
        margin-left: auto;
        margin-right: auto;
    }
    #content img {
        max-width:960px; 
    }   
}
#footer{ 
    padding-top:24px; 
    text-align: right;
    clear:both; 
    padding-bottom:0px; 
    color:#999; 
    font-size:0.8em; 
}
#footer a {
    color:#DF9F6A;
}






